--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
fastapi==0.109.0
uvicorn==0.27.0
requests==2.31.0
google-generativeai>=0.5.2
PyPDF2==3.0.1
beautifulsoup4==4.12.3
python-dotenv==1.0.1
python-multipart==0.0.9
